html{
	h1,h2,h3,h4,h5,h6{

	}
}

/* Just to wrap all content together */
.wrapper{

}


/* Width of Photoshop file */
.large-wrap{ 
	margin: 0 auto;
	max-width: 1170px;
}

/* Max Width of content */
.content-wrap{
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
}

