/*
 *
 *	My Custom Var
 *	
 */


/* Set your max-width */
	$max-width: 1040px;

/* Main Navigation */

	$site-nav-color: #383838;
	$site-nav-hover: lighten($site-nav-color, 30%);

	/* Mobile Nav */
	$mobile-nav-bg: #d8d8d8; 

/* Main Nav text decoration */
	$text-decoration: false!default;


 /* End Main Navigation */
